<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class=" border-bottom border-top border-gray-500 ">
    <header class="container text-center position-relative py-4 py-md-3">

      <h1 class="mb-0 fs-22 text-red-300 fw-bold">
        <a href="index.html">EXHIBINECTION</a>
      </h1>
      <ul class="d-flex align-items-center mb-0 list-unstyled position-absolute menu">
        <li class="text-gray-800 d-none d-md-block text-Roboto-Regular">
          <a href="#" class="px-md-3">Sign in</a>
        </li>
        <li class="text-gray-600 d-none d-md-block text-Roboto-Regular">
          <a href="#" class="px-md-3">Sign up</a>
        </li>
        <li class="ms-5 ms-md-4">
          <a href="javascript:void(0);" class="position-relative" id="cart">
            <span class="material-icons align-middle">
              confirmation_number
            </span>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-red-100 fs-12"> 3<span
                class="visually-hidden"> cart list</span></span>
          </a>
        </li>
      </ul>

      <!-- card list -->
      <div class="cart  px-2  pt-4 px-sm-4 pt-md-5  bg-gray-700 text-start position-absolute top-100 end-0 "
        id="header-cart-list">
        <h2 class="text-white mb-3  text-Roboto-Bold  ">Cart List</h2>
        <ul class="list-unstyled mb-0 cart-list">
          <li class="position-relative px-3 ps-3 pb-3  pt-4  p-md-4 bg-white mb-2 rounded">
            <a href="#" class="btn-close position-absolute top-0 cart-list-close-btn"></a>
            <div class="d-flex">
              <img src="assets/images/alina.jpg" width="120" height="120" alt="2020 台味設計展">
              <div class="d-flex justify-content-between ms-3 flex-grow-1 flex-shrink-0">
                <div>
                  <h3 class="fs-6 mb-1 fw-bold text-NotoSansCJKtc-Bold">2020 台味設計展</h3>
                  <h3 class="fs-6 mb-1 text-break text-Roboto-Medium">01 JUN — 31 OCT</h3>
                  <p class="text-gray-800 mb-2 text-NotoSansCJKtc-Regular ">全票</p>
                  <h2 class="fs-5 fw-bold mb-0 text-Roboto-Bold">NT$350</h2>
                </div>
                <div class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center">

                  <a href="#" class="material-icons">remove</a>
                  <input type="text" name="amount" id="amount" value="01"
                    class="border-0 cart-list-amount-input fs-5 p-0 mx-3 fw-bold text-Roboto-Bold">
                  <a href="#" class="material-icons">add</a>

                </div>

              </div>
            </div>
          </li>
          <li class="position-relative px-3 ps-3 pb-3  pt-4  p-md-4 bg-white mb-2 rounded">
            <a href="#" class="btn-close position-absolute top-0 cart-list-close-btn"></a>
            <div class="d-flex">
              <img src="assets/images/michel-catalisano.jpg" width="120" height="120" alt="2020 台味設計展">
              <div class="d-flex justify-content-between ms-3 flex-grow-1 flex-shrink-0">
                <div>
                  <h3 class="fs-6 mb-1 fw-bold text-NotoSansCJKtc-Bold">2020 台味設計展</h3>
                  <h3 class="fs-6 mb-1 text-break text-Roboto-Medium">01 JUN — 31 OCT</h3>
                  <p class="text-gray-800 mb-2 text-NotoSansCJKtc-Regular ">全票</p>
                  <h2 class="fs-5 fw-bold mb-0 text-Roboto-Bold">NT$350</h2>
                </div>
                <div class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center">

                  <a href="#" class="material-icons">remove</a>
                  <input type="text" name="amount" id="amount" value="01"
                    class="border-0 cart-list-amount-input fs-5 p-0 mx-3 fw-bold text-Roboto-Bold">
                  <a href="#" class="material-icons">add</a>

                </div>

              </div>
            </div>
          </li>
          <li class="position-relative px-3 ps-3 pb-3  pt-4  p-md-4 bg-white rounded">
            <a href="#" class="btn-close position-absolute top-0 cart-list-close-btn"></a>
            <div class="d-flex">
              <img src="assets/images/moralis-tsai.jpg" width="120" height="120" alt="2020 台味設計展">
              <div class="d-flex justify-content-between ms-3 flex-grow-1 flex-shrink-0">
                <div>
                  <h3 class="fs-6 mb-1 fw-bold text-NotoSansCJKtc-Bold">2020 台味設計展</h3>
                  <h3 class="fs-6 mb-1 text-break text-Roboto-Medium">01 JUN — 31 OCT</h3>
                  <p class="text-gray-800 mb-2 text-NotoSansCJKtc-Regular ">全票</p>
                  <h2 class="fs-5 fw-bold mb-0 text-Roboto-Bold">NT$350</h2>
                </div>
                <div class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center">

                  <a href="#" class="material-icons">remove</a>
                  <input type="text" name="amount" id="amount" value="01"
                    class="border-0 cart-list-amount-input fs-5 p-0 mx-3 fw-bold text-Roboto-Bold">
                  <a href="#" class="material-icons">add</a>

                </div>

              </div>
            </div>
          </li>
        </ul>
        <div class="d-flex justify-content-between align-items-center py-4">
          <ul class="text-white fs-5 d-flex  mb-0 list-unstyled ">
            <li class="text-NotoSansCJKtc-Medium ">小計</li>
            <li class="ms-3 text-Roboto-Medium ">NT$1050</li>
          </ul>
          <a href="confirm.html" class=" btn btn-lg bg-white text-red-300 text-NotoSansCJKtc-Regular ">前往結帳</a>
        </div>

      </div>

    </header>
  </div>
  <div class="bg-gray-700 position-absolute vw-100 cart-cover-bg d-md-none"></div>


  <%- contents %>

  <div class="container">
    <!-- 猜你也喜歡... -->
    <section class="mb-4 mb-md-5 ">
      <h2 class="title mb-4 text-NotoSansCJKtc-Bold">猜你也喜歡...</h2>
      <%- include('./ejs/guess'); -%>
    
    </section>
  </div>

  <footer class="footer">
    <div class="footer-bg pb-5">
      <div class="container  h-100  ">
        <div class="row h-100 align-items-end">
          <div class="col-12 col-md-8 col-xl-5 col-xxl-4">
            <h2 class="text-white subscribe-title mb-4 text-NotoSansCJKtc-Bold ">想收到展覽的最新消息嗎？<br>快訂閱我們！</h2>
            <form action="#" method="POST">
              <div class="input-group input-group-lg ">
                <input type="text" placeholder="輸入您的電子信箱"
                  class="form-control rounded-0 rounded-start fs-5 border border-gray-200 text-NotoSansCJKtc-Regular "><input
                  type="submit" value="訂閱"
                  class="input-group-text  fs-5 px-5 bg-red-100 text-white border border-red-100 text-NotoSansCJKtc-Regular">
              </div>
            </form>




          </div>
        </div>
      </div>



    </div>
    <div class="container d-flex justify-content-md-between align-items-center  py-3 py-md-4">
      <ul class="d-flex flex-column flex-md-row align-items-md-center list-unstyled ps-0 mb-0 ">
        <li class="mb-1 mb-md-0">
          <h2 class="fs-22 mb-0">EXHIBINECTION</h2>
        </li>
        <li class="ms-md-3 text-Helvetica-Neue-Regular">© 2020. All Rights Reserved.</li>
      </ul>
      <ul class="d-none  d-md-flex  list-unstyled ps-0 mb-0 text-Helvetica-Neue-Regular">
        <li><a href="#" class="px-4">Sign in</a></li>
        <li><a href="#">Sign up</a></li>
      </ul>

    </div>


  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>