.text-Roboto-Regular {
    font-family: 'Roboto Regular', sans-serif;
}

.text-Roboto-Bold {
    font-family: 'Roboto Bold', sans-serif;
}

.text-Roboto-Thin {
    font-family: 'Roboto Thin', sans-serif;
}

.text-Roboto-Light {
    font-family: 'Roboto Light', sans-serif;
}

.text-Roboto-Medium {
    font-family: 'Roboto Medium', sans-serif !important; 

}

.text-Roboto-Black {
    font-family: 'Roboto Black', sans-serif;
}


.text-NotoSansCJKtc-Regular {
    font-family: 'NotoSansCJKtc Regular', sans-serif;
}


.text-NotoSansCJKtc-Black {
    font-family: 'NotoSansCJKtc Black', sans-serif;
}

.text-NotoSansCJKtc-Bold {
    font-family: 'NotoSansCJKtc Bold', sans-serif;
}

.text-NotoSansCJKtc-DemiLight {
    font-family: 'NotoSansCJKtc DemiLight', sans-serif;
}

.text-NotoSansCJKtc-Light {
    font-family: 'NotoSansCJKtc Light', sans-serif;
}

.text-NotoSansCJKtc-Medium {
    font-family: 'NotoSansCJKtc Medium', sans-serif;
}
 
.text-NotoSansCJKtc-Thin {
    font-family: 'NotoSansCJKtc Thin', sans-serif;
}



.text-Helvetica-Neue-Regular {
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: 400;
}