.footer-bg {
    background-image: url("../images/wladislaw-peljuchno.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include pc-1400 {
        background-position-y: -550px;
    }

}

.subscribe-title {
    font-size: $h4-font-size;

    @include phone-576 {
        font-size: $h3-font-size;
    }


    @include pc-992 {
        font-size: $h2-font-size;
    }
}