.shopping_progressbar {
    height: 0;
    border-top: 1px solid $red-100;
    border-bottom: 1px solid $red-100;

    &-circle {
        font-size: 14px;

        @include pad-768 {
            font-size: $h6-font-size;
        }

        &.fill::before {
            background-color: $red-100;

        }

        &.outline::before {
            border: 1px solid $red-100;
            background-color: white;
        }

        &::before {
            width: 8px;
            height: 8px;
            content: " ";
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: -4px;

        }




    }
}

.order-list {
        margin-bottom: 89px;
    @include pad-768{
        
            margin-bottom: 304px;
    }

}