.banner {
    background-image: url("../images/ricardo-gomez-angel-1.jpg");

    height: 480px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 80px;



}

.title {
    font-size: $h2-font-size;
}

.subtitle {
    font-size: $h5-font-size;
}

.review {
    z-index: 10;

    &-bg {
        z-index: 9;
        opacity: 0.5;
    }

    &-banner {
        background-image: url("../images/people2.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}